/* Definitions */
.definition {
  counter-increment: mathcounter;
  display: block;
  margin: 12px 0;
  font-style: normal;
}
.definition::before {
  content: 'Definition ' counter(mathcounter) '. ';
  font-weight: bold;
  font-style: normal;
}
.definition[text]::before {
  content: 'Definition ' counter(mathcounter) ' (' attr(text) '). ';
}


/* Theorems */
.lemma {
  counter-increment: mathcounter;
  display: block;
  font-style: italic;
}
.lemma::before {
  content: 'Lemma ' counter(mathcounter) '. ';
  font-weight: bold;
  font-style: normal;
}
.lemma[text]::before {
  content: 'Lemma ' counter(mathcounter) ' (' attr(text) '). ';
}


.theorem {
  counter-increment: mathcounter;
  display: block;
  font-style: italic;
}
.theorem::before {
  content: 'Theorem ' counter(mathcounter) '. ';
  font-weight: bold;
  font-style: normal;
}
.theorem[text]::before {
  content: 'Theorem ' counter(mathcounter) ' (' attr(text) '). ';
}


.corollary {
  counter-increment: mathcounter;
  display: block;
  font-style: italic;
}
.corollary::before {
  content: 'Corollary ' counter(mathcounter) '. ';
  font-weight: bold;
  font-style: normal;
}
.corollary[text]::before {
  content: 'Corollary ' counter(mathcounter) ' (' attr(text) '). ';
}


.proposition {
  counter-increment: mathcounter;
  display: block;
  font-style: italic;
}
.proposition::before {
  content: 'Proposition ' counter(mathcounter) '. ';
  font-weight: bold;
  font-style: normal;
}
.proposition[text]::before {
  content: 'Proposition ' counter(mathcounter) ' (' attr(text) '). ';
}


/* Proof */
/*.proof {
  display: block;
  font-style: normal;
  position: relative;
}
.proof::before {
  content: 'Proof. ' attr(title);
  font-style: italic;
}
.proof:after {
  content: '◻';
  position: absolute;
}
*/